<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BDPointLocalNotificationEnabled</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>LOD Example Swift</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.amazon.mobile.shopping</string>
		<string>aliexpress</string>
		<string>au.com.menulog.m</string>
		<string>groupon</string>
		<string>deliveroo</string>
		<string>hellofresh</string>
		<string>booking</string>
		<string>airbnb</string>
		<string>hotelsapp</string>
		<string>agoda</string>
		<string>expda</string>
		<string>wotf</string>
		<string>tripadvisor</string>
		<string>hotelscombined</string>
		<string>iconic</string>
		<string>asos</string>
		<string>com.boohoo.app.payments</string>
		<string>sephora</string>
		<string>com.nastygal.nastygal-iphone.payments</string>
		<string>nap</string>
		<string>com.forevernew.mobile</string>
		<string>matchesfashion</string>
		<string>shopback</string>
		<string>tunein</string>
		<string>mytunerradio</string>
		<string>com.streema.simpleradio</string>
		<string>spotify</string>
		<string>sonos</string>
		<string>youtubemusic</string>
		<string>amznmp3</string>
		<string>soundcloud</string>
		<string>acast</string>
		<string>overcast</string>
		<string>castbox</string>
		<string>fm.player.ios</string>
		<string>stitcher</string>
		<string>alexa</string>
		<string>googlehome</string>
		<string>audible</string>
		<string>comhtsuhsbcpersonalbanking</string>
		<string>mpass</string>
		<string>com.virginaustralia.vaapp</string>
		<string>jetstar</string>
		<string>qantasapp</string>
		<string>ha-ife</string>
		<string>emirates</string>
		<string>feedly</string>
		<string>techcrunch</string>
		<string>medium</string>
		<string>com.amadeus.merci.client.ui</string>
		<string>mediacorp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Landmarks needs to have your locatoin always and when app in use</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Landmarks needs to have your locatoin always</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Landmarks needs to have your locatoin when app in use</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>LANDMARKS_ID_SDK_APP_ID</key>
	<string>$(LANDMARKS_ID_SDK_APP_ID)</string>
	<key>LANDMARKS_ID_SDK_APP_KEY</key>
	<string>$(LANDMARKS_ID_SDK_APP_KEY)</string>
	<key>LANDMARKS_ID_APP_SECRET</key>
	<string>$(LANDMARKS_ID_APP_SECRET)</string>
</dict>
</plist>
